In [7]:
import pandas as pd

from surprise import Dataset, Reader, accuracy
from surprise.model_selection import cross_validate,GridSearchCV, train_test_split
from surprise.prediction_algorithms import SVD, SVDpp, NMF, BaselineOnly, NormalPredictor

In [10]:
movie_rating = pd.read_csv('./movie_rating.csv')


reader = Reader(rating_scale=(1, 5))
complete_data = Dataset.load_from_df(movie_rating[['userId', 'movieId', 'rating']], reader)


#use surprises
train, test = train_test_split(complete_data, random_state=42)

#best model
final_model = SVD(n_factors=125,n_epochs=45,lr_all=0.015,reg_all=0.1)

#get the full training dataset
#so this is the full train data in surprise dataset
full_data = complete_data.build_full_trainset()
#fit the full_data which is a surprise dataset
final_model.fit(full_data)

In [52]:
movie_rating = pd.read_csv('./movie_rating.csv')

#for the function/final mode
reader = Reader(rating_scale=(1, 5))
complete_data = Dataset.load_from_df(movie_rating[['userId', 'movieId', 'rating']], reader)


#use sklearn
#for model selection/choosing? 
train, test = train_test_split(movie_rating, random_state=42)

reader = Reader(rating_scale=(1, 5))
train_data = Dataset.load_from_df(train[['userId', 'movieId', 'rating']], reader)
test_data = Dataset.load_from_df(test[['userId', 'movieId', 'rating']], reader)

train_data2 = train_data.build_full_trainset()
test_data2 = test_data.build_full_trainset().build_testset()


# #best model
final_model = SVD(n_factors=125,n_epochs=45,lr_all=0.015,reg_all=0.1)

# #get the full training dataset
# #so this is the full train data in surprise dataset
full_data = complete_data.build_full_trainset()
# #fit the full_data which is a surprise dataset
final_model.fit(full_data)

In [44]:
cross_validate(SVD(n_factors=125,n_epochs=45,lr_all=0.015,reg_all=0.1), train_data, cv =2)

{'test_rmse': array([0.88037976, 0.88222421]),
 'test_mae': array([0.67545966, 0.67979407]),
 'fit_time': (5.51861834526062, 5.390131235122681),
 'test_time': (0.2620210647583008, 0.5880486965179443)}

In [47]:
model = SVD(n_factors=125,n_epochs=45,lr_all=0.015,reg_all=0.1).fit(train_data2)

In [49]:
model_stuff = model.test(test_data2)

In [50]:
accuracy.rmse(model_stuff)

RMSE: 0.8601

0.8601198184521676

In [15]:
movies = pd.read_csv('../../ml-latest-small/movies.csv')

In [16]:
movies

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy
...,...,...,...
9737,193581,Black Butler: Book of the Atlantic (2017),Action|Animation|Comedy|Fantasy
9738,193583,No Game No Life: Zero (2017),Animation|Comedy|Fantasy
9739,193585,Flint (2017),Drama
9740,193587,Bungo Stray Dogs: Dead Apple (2018),Action|Animation
9741,193609,Andrew Dice Clay: Dice Rules (1991),Comedy

In [14]:
movie_rating.head()

,movieId,genres,Title,year_released,userId,rating,timestamp
0,1,"adventure,animation,children,comedy,fantasy",Toy Story,1995,1.0,4.0,2000-07-30 18:45:03
1,1,"adventure,animation,children,comedy,fantasy",Toy Story,1995,5.0,4.0,1996-11-08 06:36:02
2,1,"adventure,animation,children,comedy,fantasy",Toy Story,1995,7.0,4.5,2005-01-25 06:52:26
3,1,"adventure,animation,children,comedy,fantasy",Toy Story,1995,15.0,2.5,2017-11-13 12:59:30
4,1,"adventure,animation,children,comedy,fantasy",Toy Story,1995,17.0,4.5,2011-05-18 05:28:03

In [13]:
complete_data

In [17]:
userdf = movie_rating.set_index('userId')

In [18]:
userdf

,movieId,genres,Title,year_released,rating,timestamp
userId,,,,,,
1.0,1,"adventure,animation,children,comedy,fantasy",Toy Story,1995,4.0,2000-07-30 18:45:03
5.0,1,"adventure,animation,children,comedy,fantasy",Toy Story,1995,4.0,1996-11-08 06:36:02
7.0,1,"adventure,animation,children,comedy,fantasy",Toy Story,1995,4.5,2005-01-25 06:52:26
15.0,1,"adventure,animation,children,comedy,fantasy",Toy Story,1995,2.5,2017-11-13 12:59:30
17.0,1,"adventure,animation,children,comedy,fantasy",Toy Story,1995,4.5,2011-05-18 05:28:03
...,...,...,...,...,...,...
184.0,193581,"action,animation,comedy,fantasy",Black Butler: Book of the Atlantic,2017,4.0,2018-09-16 14:44:42
184.0,193583,"animation,comedy,fantasy",No Game No Life: Zero,2017,3.5,2018-09-16 14:52:25
184.0,193585,drama,Flint,2017,3.5,2018-09-16 14:56:45
184.0,193587,"action,animation",Bungo Stray Dogs: Dead Apple,2018,3.5,2018-09-16 15:00:21
331.0,193609,comedy,Andrew Dice Clay: Dice Rules,1991,4.0,2018-09-17 04:13:26

In [20]:
userdf1 = userdf['movieId']

In [23]:
userdf1.loc[9,]

userId
9.0      41
9.0     187
9.0     223
9.0     371
9.0     627
9.0     922
9.0     923
9.0    1037
9.0    1095
9.0    1198
9.0    1270
9.0    1674
9.0    1987
9.0    2011
9.0    2012
9.0    2023
9.0    2300
9.0    2877
9.0    2901
9.0    3173
9.0    3328
9.0    3735
9.0    4131
9.0    4558
9.0    4993
9.0    5218
9.0    5378
9.0    5445
9.0    5447
9.0    5451
9.0    5481
9.0    5507
9.0    5841
9.0    5843
9.0    5872
9.0    5890
9.0    5891
9.0    5893
9.0    5902
9.0    5952
9.0    5956
9.0    5962
9.0    5965
9.0    5988
9.0    6001
9.0    6044
Name: movieId, dtype: int64

In [24]:
user_rate = list(userdf1.loc[9,])

In [25]:
user_rate

[41,
 187,
 223,
 371,
 627,
 922,
 923,
 1037,
 1095,
 1198,
 1270,
 1674,
 1987,
 2011,
 2012,
 2023,
 2300,
 2877,
 2901,
 3173,
 3328,
 3735,
 4131,
 4558,
 4993,
 5218,
 5378,
 5445,
 5447,
 5451,
 5481,
 5507,
 5841,
 5843,
 5872,
 5890,
 5891,
 5893,
 5902,
 5952,
 5956,
 5962,
 5965,
 5988,
 6001,
 6044]

In [26]:
moviedf = movies.set_index('movieId')

In [27]:
moviedf

,title,genres
movieId,,
1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
2,Jumanji (1995),Adventure|Children|Fantasy
3,Grumpier Old Men (1995),Comedy|Romance
4,Waiting to Exhale (1995),Comedy|Drama|Romance
5,Father of the Bride Part II (1995),Comedy
...,...,...
193581,Black Butler: Book of the Atlantic (2017),Action|Animation|Comedy|Fantasy
193583,No Game No Life: Zero (2017),Animation|Comedy|Fantasy
193585,Flint (2017),Drama
193587,Bungo Stray Dogs: Dead Apple (2018),Action|Animation
193609,Andrew Dice Clay: Dice Rules (1991),Comedy

In [29]:
moviedf.drop(user_rate, inplace = True)

In [30]:
moviedf

,title,genres
movieId,,
1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
2,Jumanji (1995),Adventure|Children|Fantasy
3,Grumpier Old Men (1995),Comedy|Romance
4,Waiting to Exhale (1995),Comedy|Drama|Romance
5,Father of the Bride Part II (1995),Comedy
...,...,...
193581,Black Butler: Book of the Atlantic (2017),Action|Animation|Comedy|Fantasy
193583,No Game No Life: Zero (2017),Animation|Comedy|Fantasy
193585,Flint (2017),Drama
193587,Bungo Stray Dogs: Dead Apple (2018),Action|Animation
193609,Andrew Dice Clay: Dice Rules (1991),Comedy

In [31]:
moviedf = moviedf.reset_index()

In [32]:
moviedf

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy
...,...,...,...
9691,193581,Black Butler: Book of the Atlantic (2017),Action|Animation|Comedy|Fantasy
9692,193583,No Game No Life: Zero (2017),Animation|Comedy|Fantasy
9693,193585,Flint (2017),Drama
9694,193587,Bungo Stray Dogs: Dead Apple (2018),Action|Animation
9695,193609,Andrew Dice Clay: Dice Rules (1991),Comedy

In [33]:
moviedf['est_rating'] = moviedf['movieId'].apply(lambda x: final_model.predict(9, x).est)
moviedf.sort_values(by='est_rating', ascending=False, inplace=True)

In [34]:
moviedf

,movieId,title,genres,est_rating
8793,132333,Seve (2014),Documentary|Drama,4.649595
812,1080,Monty Python's Life of Brian (1979),Comedy,4.597431
5575,27156,Neon Genesis Evangelion: The End of Evangelion...,Action|Animation|Drama|Fantasy|Sci-Fi,4.585550
4014,5747,Gallipoli (1981),Drama|War,4.583046
2264,3030,Yojimbo (1961),Action|Adventure,4.581315
...,...,...,...,...
1162,1556,Speed 2: Cruise Control (1997),Action|Romance|Thriller,1.384163
2942,3973,Book of Shadows: Blair Witch 2 (2000),Crime|Horror|Mystery|Thriller,1.368453
6791,61348,Disaster Movie (2008),Comedy,1.367101
3778,5323,Jason X (2002),Horror|Sci-Fi|Thriller,1.258974
6095,43919,Date Movie (2006),Comedy|Romance,1.226476

In [12]:
#creating a variable that only has the userid and movies that they've rated
#this uses the original train dataset not surprise's version
users_movies_seen = full_data[['movieId', 'userId']]
#setting user id as index to make it easier to use loc on it
# users_movies_seen.set_index('userId')

users_movies_seen

TypeError: 'Trainset' object is not subscriptable

In [39]:
#function to get stuff up
def stuff():
    user = float(input('userId: '))
    genre = input('What genres are you interested in? ')
    num_recs = int(input('How many recomendations would you like? '))

    #using the train data?
    #create the seen_movie
    seen_movie = list(users_movies_seen.loc[user, 'movieId'])

    #create df with all the unseen/unrated movies
    train_copy = movies.copy()
    train_copy2 = train_copy.set_index('movieId')
    
    #using the not_seen df, create a rating for a user
    not_seen = train_copy2.drop(index = seen_movie)

    #subsetting the df to unseen movies of a certain genre
    not_seen = not_seen[not_seen['genres'] == genre]
    
    #reset not_seen index
    not_seen = not_seen.reset_index()
    
    #creating an est rating and the sorted it
moviedf['est_rating'] = moviedf['movieId'].apply(lambda x: final_model.predict(9, x).est)
moviedf.sort_values(by='est_rating', ascending=False, inplace=True)

    #returns the recommendations that the model predicts to be the highest rating
    return (not_seen.head(num_recs))

In [40]:
stuff()

userId: 2.0
What genres are you interested in? comedy
How many recomendations would you like? 5

Empty DataFrame
Columns: [movieId, title, genres, est_rating]
Index: []

In [4]:
users_movies_seen = train[['movieId', 'userId']]

In [5]:
users_movies_seen.set_index('userId', inplace = True)

In [6]:
user = float(input('userId: '))
genre = input('What genres are you interested in? ')
num_recs = float(input('How many recomendations would you like? '))

userId: 2.0
What genres are you interested in? comedy
How many recomendations would you like? 5

In [7]:
seen_movie = list(users_movies_seen.loc[user, 'movieId'])

In [8]:
len(seen_movie)

26

In [11]:
movies

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy
...,...,...,...
9737,193581,Black Butler: Book of the Atlantic (2017),Action|Animation|Comedy|Fantasy
9738,193583,No Game No Life: Zero (2017),Animation|Comedy|Fantasy
9739,193585,Flint (2017),Drama
9740,193587,Bungo Stray Dogs: Dead Apple (2018),Action|Animation
9741,193609,Andrew Dice Clay: Dice Rules (1991),Comedy

In [12]:
seen_movie

[80489,
 91529,
 91658,
 112552,
 58559,
 333,
 79132,
 131724,
 109487,
 99114,
 86345,
 115713,
 60756,
 68157,
 1704,
 74458,
 48516,
 80906,
 318,
 46970,
 77455,
 3578,
 106782,
 114060,
 8798,
 6874]

In [13]:
movies

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy
...,...,...,...
9737,193581,Black Butler: Book of the Atlantic (2017),Action|Animation|Comedy|Fantasy
9738,193583,No Game No Life: Zero (2017),Animation|Comedy|Fantasy
9739,193585,Flint (2017),Drama
9740,193587,Bungo Stray Dogs: Dead Apple (2018),Action|Animation
9741,193609,Andrew Dice Clay: Dice Rules (1991),Comedy

In [23]:
train_copy = movies.copy()
train_copy2 = train_copy.set_index('movieId')
# not_seen = train_copy.drop()

In [24]:
train_copy2

,title,genres
movieId,,
1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
2,Jumanji (1995),Adventure|Children|Fantasy
3,Grumpier Old Men (1995),Comedy|Romance
4,Waiting to Exhale (1995),Comedy|Drama|Romance
5,Father of the Bride Part II (1995),Comedy
...,...,...
193581,Black Butler: Book of the Atlantic (2017),Action|Animation|Comedy|Fantasy
193583,No Game No Life: Zero (2017),Animation|Comedy|Fantasy
193585,Flint (2017),Drama
193587,Bungo Stray Dogs: Dead Apple (2018),Action|Animation
193609,Andrew Dice Clay: Dice Rules (1991),Comedy

In [15]:
len(seen_movie)

26

In [33]:
train_copy

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy
...,...,...,...
9737,193581,Black Butler: Book of the Atlantic (2017),Action|Animation|Comedy|Fantasy
9738,193583,No Game No Life: Zero (2017),Animation|Comedy|Fantasy
9739,193585,Flint (2017),Drama
9740,193587,Bungo Stray Dogs: Dead Apple (2018),Action|Animation
9741,193609,Andrew Dice Clay: Dice Rules (1991),Comedy

In [35]:
train_copy2

,title,genres
movieId,,
1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
2,Jumanji (1995),Adventure|Children|Fantasy
3,Grumpier Old Men (1995),Comedy|Romance
4,Waiting to Exhale (1995),Comedy|Drama|Romance
5,Father of the Bride Part II (1995),Comedy
...,...,...
193581,Black Butler: Book of the Atlantic (2017),Action|Animation|Comedy|Fantasy
193583,No Game No Life: Zero (2017),Animation|Comedy|Fantasy
193585,Flint (2017),Drama
193587,Bungo Stray Dogs: Dead Apple (2018),Action|Animation
193609,Andrew Dice Clay: Dice Rules (1991),Comedy

In [36]:
train_copy2.reset_index()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy
...,...,...,...
9737,193581,Black Butler: Book of the Atlantic (2017),Action|Animation|Comedy|Fantasy
9738,193583,No Game No Life: Zero (2017),Animation|Comedy|Fantasy
9739,193585,Flint (2017),Drama
9740,193587,Bungo Stray Dogs: Dead Apple (2018),Action|Animation
9741,193609,Andrew Dice Clay: Dice Rules (1991),Comedy

In [34]:
dropping = train_copy.drop(index = 'movieId', level = seen_movie)

AssertionError: axis must be a MultiIndex

In [26]:
dropping

,title,genres
movieId,,
1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
2,Jumanji (1995),Adventure|Children|Fantasy
3,Grumpier Old Men (1995),Comedy|Romance
4,Waiting to Exhale (1995),Comedy|Drama|Romance
5,Father of the Bride Part II (1995),Comedy
...,...,...
193581,Black Butler: Book of the Atlantic (2017),Action|Animation|Comedy|Fantasy
193583,No Game No Life: Zero (2017),Animation|Comedy|Fantasy
193585,Flint (2017),Drama
193587,Bungo Stray Dogs: Dead Apple (2018),Action|Animation
193609,Andrew Dice Clay: Dice Rules (1991),Comedy

In [ ]:
def stuff():
    user = float(input('userId: '))
    genre = input('What genres are you interested in? ')
    num_recs = int(input('How many recomendations would you like? '))

    #using the train data
    #create the seen_movie
    seen_movie = list(users_movies_seen.loc[user, 'movieId'])

    #create df with all the unseen/unrated movies
    train_copy = movies.copy()
    train_copy2 = train_copy.set_index('movieId')

    #using the not_seen df, create a rating for a user
    not_seen = train_copy2.drop(index = seen_movie)

    #subsetting the df to unseen movies of a certain genre
    not_seen = not_seen[not_seen['genres'].str.contains(genre)]
    
    #reset not_seen index
    not_seen = not_seen.reset_index()
    
    #creating an est rating and the sorted it
    not_seen['est_rating'] = not_seen['movieId'].apply(lambda x: final_model.predict(user, x).est)
    not_seen.sort_values(by='est_rating', ascending=False, inplace=True)

    #returns the recommendations that the model predicts to be the highest rating
    return (not_seen.head(num_recs))

In [27]:
9742 - 9716

26

In [19]:
train_subset = train_copy[train_copy['movieId'] == 80489]

In [20]:
train_subset

      movieId             title                genres
7415    80489  Town, The (2010)  Crime|Drama|Thriller